<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ServicioCrearProyecto" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:55403/Agregar%20proyecto/ServicioCrearProyecto.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ServicioCrearProyecto"
                contract="CodigoLegado.ServicioWeb.ServicioCrearProyecto"
                name="BasicHttpBinding_ServicioCrearProyecto" />
        </client>
    </system.serviceModel>
</configuration>